<div class="register">
  <form action="" class="ta-c d-b">

    <div class="form-line ta-l">
      <span class="account d-ib va-t"></span>
      <input class="d-ib" type="text" placeholder="输入手机号" name="" value="">
    </div>
    <div class="form-line ta-l">
      <span class="lock d-ib va-t"></span>
      <input class="d-ib" type="text" placeholder="设置6位以上的密码" name="" value="">
    </div>

    <div class="message-wrap ta-l">
      <input class="d-ib message-box" type="text" placeholder="输入验证码" name="" value="">
      <span class="f-r message">发送短信</span>
    </div>


    <button class="login-btn">登陆</button>
    <button class="register-btn">注册</button>
  </form>
</div>
