<div class="register">
  <form action="" class="ta-c d-b" name="form">

    <div class="form-line ta-l p-r">
      <span class="account icon d-ib va-t"></span>
      <input validator="phone"  ng-model="user.phone" class="d-ib" type="text" placeholder="输入手机号" name="" value="">
    </div>
    <div class="form-line ta-l p-r">
      <span class="lock icon d-ib va-t"></span>
      <input validator="password" ng-model="user.password" class="d-ib" type="password" placeholder="设置6位以上的密码" name="" value="">
    </div>

    <div class="message-wrap ta-l">
      <input class="d-ib message-box" ng-model="user.code" type="text" placeholder="输入验证码" name="" value="">
      <span class="f-r message {{time?'disabled':''}}" ng-click="time?1===1:send()" ng-bind="time?time:'发送短信'"></span>
    </div>


    <button class="login-btn" ui-sref="login">登陆</button>
    <button class="register-btn" validation-submit="form" ng-click="submit()">注册</button>
  </form>
</div>
